body{
    margin: 0;
    padding: 0;
    background-color: rgb(216, 232, 233);
}


.a {
    height: 60px;
    font-size: 40px;
    padding:20px 0  20px 100px;
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}
#o1 {
    color: rgb(18, 192, 207);
}
.cricle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgb(18, 192, 207);
    margin-left:80% ;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    color: black;
 }
 .plus {
     color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 6px ;
    padding-bottom:20px;

}
.b {
    display: flex;
    margin: 30px 100px 30px 10px;
    
}
.c {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
}
.containor {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 200px;
    margin-bottom: 300px;
    gap: 50px;


}
.box {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
}
#ok {
    width: 285px;
    height: 50px;
    box-shadow: 0px 1px 1px lightgrey;
    background:white;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(9, 350, 350);
    padding-left: 15px;
    padding-top: 20px;
    
}
.ttp {
    text-decoration: none;
    color: rgb(9,350,350);
}
#op {
    font-size: 15px;
    text-decoration:line-through;
    color: rgba(192, 192, 192, 0.564);
    padding: 0px;
    line-height: 40px;

}
#ol {
    font-size: 15px;
    padding-top: 10px;
    color: rgba(90, 90, 90,1);
}
input[type=checkbox]{
    width: 30px;
    height: 20px;
    padding-top: 10px;
}
.parent {
    filter: blur(.5px);
}
input[type=text]{
    height: 30px;
    width: 340px;
    margin: 20px 10px 20px 10px;
}
.o5 {
    width: 400px;
    height: 250px;
    border:1px solid rgb(247, 244, 244);
    background:white;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 500px;
    bottom: 200px;

}
.o6 {
    margin: 20px 20px 5px 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(35, 33, 33);
}
.o7 {
    width: 150px;
    height: 30px;
    float:right;
    font-size: 20px;
    color: aliceblue;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(35, 121, 170);
    border-radius: 10px;
}
#ss {
    float: right;
    font-size: large;
    color: rgb(183, 181, 179);
}
